/* || CSS Variables */

:root {
  /* Colors */
  --primary-text-color: #000; /* Black */
  --primary-background-color: #FD9928; /* Orange */
  --secondary-background-color: #DF1041; /* Red */
  
  /* Viewport Breaks */
  --max-width-desktop: 1200px;
}


/* || Basic Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  overflow-x: hidden;
}

img {
  width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 0;
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
}

a > button {
  cursor: pointer;
}


/* || Classes */

/* || Desktop Layout */

	/* || Parent Wrappers */

	.grid-wrapper-2-col {
	  display: grid;
	  grid-gap: 10px;
	  grid-template-columns: 50% 50%;
	  max-width: var(--max-width-desktop);
	  padding-top: 10px;
	  padding-bottom: 10px;
	  margin-left: auto;
	  margin-right: auto;
	}

	.grid-wrapper-3-col {
	  display: grid;
	  grid-gap: 10px;
	  grid-template-columns: repeat(3, 1fr);
	  max-width: var(--max-width-desktop);
	  padding-top: 0;
	  margin-left: auto;
	  margin-right: auto;
	}

	.section {
		max-width: var(--max-width-desktop);
		margin-top: 150px;
		margin-right: auto;
		margin-left: auto;
	}

	.grid-wrapper-footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: var(--max-width-desktop);
		margin-left: auto;
		margin-right: auto;
		grid-gap: 10px;
	}

	.grid-wrapper-2-col-menu {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 50% 50%;
		max-width: var(--max-width-desktop);
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	/* || Navigation */
	.nav-tile {
		grid-column: 1 / span 2;
	}

	/* || Hero */
	.hero-tile {
		grid-column: 1 / span 2;
	}

	/* || Small Hero */
	.small-hero-tile {
	  grid-column: 1 / span 2;
	  margin: 60px auto; /* top && bottom: 60px, left && right: auto */
	}

	/* || 1/2 Tile Left */
	.epic-closeup-tile {
		grid-column: 1;
	}

	/* || 1/2 Tile Right */
	.epic-yellow-red-tile {
		grid-column: 2;
	}

	/* || Business Cards */
	.bcard-tile {
		grid-column: 1 / span 2;
	}

	/* || Text Gif */
	.text-gif-tile {
		grid-column: 1 / span 2;
	}

	/* || Footer */
	.footer-bottom-tile {
		grid-column: 1 / span 2;
	}

/* --> location.html <-- */

	/* || Navigation */
	/* || .nav-tile {
		grid-column: 1 / span 2;
	}

	/* || Location Nav */
	.location-menu-nav-tile {
		grid-column: 1 / span 2;
		margin-left: 10px;
		margin-right: 30px;
	}

	/* || Hero */
	.menu-gif-tile {
		grid-column: 1 / span 2;
		margin-top: 60px;
	}

	/* || Mini */
	.mini-menu-tile {
		grid-column: 1;
	}

	/* || Mini Description */
	.menu-mini-description-tile {
		grid-column: 2;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu-epic-description-tile {
		grid-column: 1;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu-epic-tile {
		grid-column: 2;
	}

	.korean-menu-tile {
		grid-column: 1;
	}

	.menu-korean-description-tile {
		grid-column: 2;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu-cheese-pop-description-tile {
		grid-column: 1;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu-cheese-pop-tile {
		grid-column: 2;
	}

	.honey-dog-gif-tile {
	  	grid-column: 1 / span 2;
	}

	.also-serving-tile {
	  	grid-column: 1 / span 2;
	  	border-bottom: 1px solid #eee;
	}

	/* || --> */
	.calendar-container-tile {
		grid-column: 1 / span 2;
		margin: 40px;
		overflow: hidden;
		border-bottom: 1px solid #eee;
	}


/* || Desktop Styling */

	/* || 'Tile' Styling */
	.tile-white {			
		box-sizing: border-box;
		display: block;
		background-color: #fff; /* white */
	}

	.tile-primary {
		box-sizing: border-box;
		display: block;
		background-color: var(--primary-background-color); /* orange */
	}

	.tile-secondary {
	  box-sizing: border-box;
	  display: block;
	  background-color: var(--secondary-background-color); /* red */
	}

	/* || Image Styling */
	.object-fit-cover {
		display: block;
		object-fit: cover;
	}

	/* || Button Styling */
	.btn-white {
		background-color: transparent;
		border: 1px solid #fff;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
	}

	.btn-white:hover {
		background-color: red;
		border-color: transparent;
	}

	.btn-primary {
		background-color: transparent;
		border: 1px solid var(--primary-background-color);
		text-transform: uppercase;
		color: var(--primary-background-color);
		font-weight: bold;
	}

	.btn-secondary {
		background-color: #fff;
		border: 1px solid #fff;
		text-transform: uppercase;
		color: var(--primary-background-color);
		font-weight: bold;
	}

	.btn-secondary:hover {
	  background-color: red;
	  color: white;
	  border-color: transparent;
	}

	.btn-white-border-primary {
		background-color: #fff;
		border: 2px solid var(--primary-background-color);
		text-transform: uppercase;
		color: var(--primary-background-color);
		font-weight: 800;
	}

	.btn-white-border-primary:hover {
	    background-color: var(--primary-background-color);
	    color: #fff;
	    border-color: transparent;
	}

	.raise {
	  transition: all .3s ease-in-out;
	}

	.raise-high {
	  transition: all .3s ease-in-out;
	}

	.raise:hover {
	  transform: translateY(-0.1em);
	  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	}

	.raise-high:hover {
	  transform: translateY(20px);
	  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	}

	.raise-no-shadow {
	  transition: all .3s ease-in-out;
	}

	.raise-no-shadow:hover {
	  transform: translateY(-0.15em);
	}

	/*  || Navigation Styling */

	/* || Navigation Flex Container */
	.nav-container-flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 30px 10px 10px; /* top: 0, right: 30, bottom: 10, left: 10 */
		margin: 10px auto 0 auto; /* top: 10px, right: auto, bottom: 10px, left: auto */
	}
		/* || -> Navigation Brand */
		.nav-container-flex a.nav-brand {
			box-sizing: border-box;
			margin-right: 100px;
			text-align: left;
			text-decoration: none;
			cursor: pointer;
			line-height: 1;
		}
			/* || -> */
			.nav-container-flex a.nav-brand h2 {
				font-size: 32px;
				line-height: 1;
			}

		/* || -> Navigation Menu */
		.nav-container-flex .nav-menu {
			box-sizing: border-box;
			margin-bottom: 0;
			padding: 0;
			text-align: left;
			line-height: 1.5;
		}

			/* || -> */
			.nav-container-flex .nav-menu ul {
				list-style-type: none;
			}

				/* || -> */
				.nav-container-flex .nav-menu ul li a {
					font-weight: 600;
					font-size: 22px;
					color: var(--primary-text-color); /* black */
				}

				/* || -> */
				.nav-container-flex .nav-menu ul li a:hover {
					color: var(--primary-background-color); /* orange */
				}

				/* || -> Locations Dropdown */
				.nav-container-flex .nav-menu ul div.dropdown {
					position: relative;
					display: inline-block;
				}

					/* || -> */
					.dropdown .dropdown-content { /* Hidden by default */
					    display: none;
					    position: absolute;
					    background-color: #fff;
					    min-width: 160px;
					    border-radius: 3px;
					    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					    z-index: 500;
					    white-space: nowrap;
						font-size: 0.85em;
					}

						/* || -> */
						.dropdown .dropdown-content a { /* Links inside the dropdown */
						    color: black;
							padding: 12px 14px;
							text-decoration: none;
							display: block;
							font-size: 20px;
							font-weight: 600;
							line-height: 1.5;
							margin: 0;
						}

						/* || -> */
						.dropdown .dropdown-content a:hover { /* Change the color of dropdown links on hover */
						    color: var(--primary-background-color);
						}

						/* || -> */
						.dropdown:hover .dropdown-content { /* Show the dropdown menu on hover */
							display: block;
						}

	/* || Small Hero Styling */
	.small-hero-title {
		text-align: center;
		margin-top: 48px;
	}

		/* || -> */
		.small-hero-title h2 {
			font-size: 26px;
			font-weight: 700;
		}

	/* || 1/2 Tile Left */
	.img-wrapper {
		position: relative;
	}

		/* || -> */
		.img-overlay {
			position: absolute; 
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
		}

			/* -> */
			.img-overlay:before {
			    content: '';
			    display: block;
			    height: 5%;
			}

			/* -> */
			.img-overlay a button.btn-responsive {
				padding: 6px 20px;
				margin: 20px;
				border-radius: 6px;
				line-height: 1.4;
				font-size: 28px;
			}

	/* || 1/2 Tile Right */
	/* || .img-wrapper */
		/* || .img-overlay */
			/* || .img-overlay:before */
			/* || .img-overlay a button.btn-responsive */

	/* || Business Cards */
	/* || .bcard-tile */

	/* || Text Gif */
	/* || .text-gif-tile */

/* || --> Inside of 'section' Container */

	/* || Contact Section Styling */

	/* || -> */
	.section h1.section-header {
		font-size: 250px;
		font-weight: 800;
		letter-spacing: -0.02em;
		text-align: left;
		z-index: 10;
		position: relative;
		line-height: 0.1em;
	}

	/* || ->  Container for text, button, and image */
	.section div.contact-info {
		color: var(--primary-text-color); /* Black */
		display: flex;
		align-items: center;
		flex-direction: row;
	}

		/* || -> */
		div.contact-info .text-column {
			flex: 50%;
			padding: 70px 50px 70px 50px; /* top: 70px, right: 50px, bottom: 70px, left: 50px */
			position: relative;
		}

		div.contact-info .image-column {
			flex: 50%;
			margin-right: -20vw;
		}

			/* || -> */
			.text-column h1 {
				text-align: right;
				margin-bottom: 20px;
			}

			/* || -> */
			.text-column div.contact-button-container {
				text-align: right;
			}

				/* || -> */
				.contact-button-container a button.btn-responsive {
					padding: 6px 20px;
					border-radius: 6px;
					line-height: 1.4;
					font-size: 28px;
				}

/* || --> Inside of 'grid-wrapper-footer' Container */

	/* || Footer Section Styling */

	/* || -> */
	.footer-container {
		width: 40%;
		margin: 0 auto;
		text-align: center;
		padding: 40px 0;
	}

		/* || -> */
		.footer-container .footer-socials {
			margin-bottom: 24px;
		}

			/* || -> */
			.footer-socials ul.list-inline {
				display: flex;
				justify-content: center;
				padding-left: 0;
				list-style: none;
			}

				/* || -> */
				ul.list-inline li {
					display: inline-flex;
					padding: 20px;
					line-height: 26px;
					font-size: 26px;
				}

		/* || -> */
		.footer-container .footer-copyright {
			margin-bottom: 24px;
		}

			/* || -> */
			.footer-copyright p {
				font-size: 14px;
				line-height: 1.5;
				margin-bottom: 10px;
			}

			/* || -> */
			/* || .footer-contact  */

				/* || -> */
				.footer-contact a {
					color: #fe303b; /* bright red */
					text-transform: uppercase;
					font-weight: bold;
					font-size: 16px;
				}

		/* || -> */
		.footer-container .footer-devtag {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 0;
			color: gray;
			font-weight: 200;
		}

			/* || -> */
			.footer-devtag a {
				color: gray;
			}

/* --> || locations.html Styling <-- */
	
	/* || Location Navigation Section Styling */
	.location-nav-container-flex {
		padding-bottom: 10px;
		margin: 10px auto 10px auto; /* top: 10px, right: auto, bottom: 10px, left: auto */
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
	}

		/* || -> */
		/* || .location-name */
		
			/* || -> */
			.location-name .dropdown-clickable {
			    position: relative;
			    display: inline-block;
			}

				/* || -> */
				.dropdown-clickable .dropbtn-clickable {
				  background-color: #fff;
				  color: black;
				  border: none;
				  cursor: pointer;
				  font-size: 22px;
				  font-weight: 600;
				}

				/* || -> */
				 .dropdown-clickable .dropbtn-clickable:hover, .dropdown-clickable .dropbtn-clickable:focus {
				  color: var(--primary-background-color);
				}

				/* || -> */
				.dropdown-content-clickable {
				  display: none;
				  position: absolute;
				  background-color: #fff;
				  min-width: 160px;
				  border-radius: 3px;
				  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				  z-index: 500;
				  white-space: nowrap;
				  font-size: 0.85em;
				  margin-top: 10px;
				}

				/* || -> */
				.dropdown-content-clickable a {
				  color: black;
				  padding: 12px 14px;
				  text-decoration: none;
				  display: block;
				  font-size: 20px;
				  font-weight: 600;
				}

				/* || -> */
				.dropdown-content-clickable a:hover {
				  color: var(--primary-background-color);
				}

				/* || -> */
				.show {
				  display:block;
				}


		.location-nav-container-flex .location-menu-options {
			font-size: 14px;
			line-height: 1.5;
			font-weight: 400;
			display: flex;
			white-space: nowrap;
			padding: 0;
			color: var(--primary-text-color);
			align-items: center;
			justify-content: flex-end;
		}

			/* || -> */
			.location-menu-options .location-menu-inline-buttons {
			    display: inline-flex;
			    align-items: center;
			    justify-content: center;
			    background-color: var(--primary-background-color);
			    color: #fff;
			    height: 1.5em;
			    padding-left: 0.5em;
			    padding-right: 0.5em;
			    border-radius: 4px;
			    font-size: 14px;
			    font-weight: 600;
			    margin: 0 0 0 10px;
			}

	/* || Menu Hero Section Styling */
	.menu-section-header {
	    font-size: 150px;
	    font-weight: 800;
	    letter-spacing: -0.02em;
	    text-align: left;
	    z-index: 10;
	    position: relative;
	    line-height: 0.5em;
	    margin-left: 40px;
	}

	/* || Menu Item Styling */
	.menu-item-section-header {
		font-size: 100px;
  		font-weight: 800;
  		letter-spacing: -0.02em;
  		line-height: 1;
  		text-align: center;
	}

	/* || -> */
	.menu-item-section-description-container {
		padding-top: 50px;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}

		/* || -> */
		.menu-item-section-description-container li {
		    list-style: none;
		  	font-size: 24px;
		  	font-weight: 600;
		  	margin-bottom: 15px;
		}

	/* || --> */
	.menu-item-section-header-btn {
		  display: inline-flex;
		  align-items: center;
		  justify-content: center;
		  background-color: #fff;
		  color: black;
		  font-size: 150px;
		  border-radius: 6px;
		  font-weight: 800;
		  height: 1.5em;
		  margin-top: 40px;
		  padding-left: 0.5em;
		  padding-right: 0.5em;
		  text-transform: uppercase;
		  mix-blend-mode: screen;
	}

	/* || --> */
	.large-menu-item-section-description-container {
		  padding-top: 30px;
		  padding-bottom: 100px;
		  max-width: 450px;
		  margin-left: auto;
		  margin-right: auto;
		  text-align: center;
	}

		/* --> */
		.large-menu-item-section-description-container li{
			  list-style: none;
			  font-size: 36px;
			  font-weight: 600;
			  margin-bottom: 15px;
		}

	.calendar-title-flex {
	  	display: flex;
	  	justify-content: space-between;
	  	align-items: flex-end;
	  	margin-bottom: 30px;
	}

	.location-menu-inline-buttons {
	  	display: inline-flex;
	  	align-items: center;
	  	justify-content: center;
	  	background-color: var(--primary-background-color);
	  	color: #fff;
	  	height: 1.5em;
	  	padding-left: 0.5em;
	  	padding-right: 0.5em;
	  	border-radius: 4px;
	  	font-size: 14px;
	  	font-weight: 600;
	  	margin: 0 0 0 10px;
	}

	#calendar {
	  max-height: 500px;
	}





/* Tablet Styles */
/* If device width is less than or equal to 800px, these styles apply */
@media all and (max-width: 800px) {

/* || Small Hero Layout */
.small-hero-tile {
	grid-column: 1 / span 2;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

/* || Small Hero Styling */

	/* || -> */
	.small-hero-title {
		text-align: center;
		margin-top: 0;
	}

	/* || -> */
	.small-hero-title h2 {
		font-size: 36px;
		font-weight: 700;
	}


/* || 1/2 Tile Left/Right */
.img-overlay a button.btn-responsive {
	padding: 6px 20px;
	font-size: 24px;
	line-height: 1.4;
	border-radius: 6px;
	margin: 20px;
}

/* Section Parent Wrapper */
.section {
	max-width: var(--max-width-desktop);
	margin-top: 75px;
	margin-right: auto;
	margin-left: auto;
}

	/* || -> */
	.section h1.section-header {
		font-size: 180px;
		font-weight: 800;
		letter-spacing: -0.02em;
		text-align: left;
		z-index: 10;
		position: relative;
		line-height: 0.5em;
		margin-left: 25px;
	}

	/* || ->  Container for text, button, and image */
	/* || -> .section div.contact-info */

		/* || -> */
		div.contact-info .text-column {
			flex: 50%;
			padding: 100px 50px 70px 25px; /* top: 100px, right: 50px, bottom: 70px, left: 25px */
			position: relative;
		}

			/* || -> */
			.text-column h1 {
				text-align: left;
				margin-bottom: 20px;
			}

			/* || -> */
			.text-column div.contact-button-container {
				text-align: center;
			}

/* --> || locations.html Styling <-- */

	/* || Menu Hero Section Styling */
	.menu-section-header {
	    font-size: 150px;
	    font-weight: 800;
	    letter-spacing: -0.02em;
	    text-align: center; 
	    z-index: 10;
	    position: relative;
	    line-height: 0.5em;
	    margin-left: 0;
	}

	div.menu-item-section-description-container {
	  	padding-top: 50px;
	  	max-width: 350px;
	  	margin-left: auto;
	  	margin-right: auto;
	  	text-align: left;
	}

	/* || -> Korean Layout Fix */
	.menu-korean-description-tile {
		padding-top: 30px;
	}


	/* || Menu Item Styling */
	.menu-item-section-header {
		font-size: 80px;
  		font-weight: 800;
  		letter-spacing: -0.02em;
  		line-height: 1;
  		text-align: center;
	}

	/* || --> */
	.menu-item-section-header-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		color: black;
		font-size: 110px;
		border-radius: 6px;
		font-weight: 800;
		height: 1.5em;
		margin-top: 40px;
		padding-left: 0.5em;
		padding-right: 0.5em;
		text-transform: uppercase;
		mix-blend-mode: screen;
	}


	

}







/* Mobile Styles (max-width: 480px) */
/* If device width is less than or equal to 480px, these styles apply */
@media all and (max-width: 480px) {

/*  || Navigation Styling */

/* || Navigation Flex Container */
.nav-container-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

	/* || -> Navigation Brand */
	.nav-container-flex a.nav-brand {
		box-sizing: border-box;
		margin-right: 0;
		text-align: left;
		text-decoration: none;
		cursor: pointer;
	}


/* || Small Hero Layout */
.small-hero-tile {
	grid-column: 1 / span 2;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

/* || Small Hero Styling */

	/* || -> */
	.small-hero-title {
		text-align: center;
		margin-top: 0;
	}

	/* || -> */
	.small-hero-title h2 {
		font-size: 26px;
		font-weight: 700;
	}


/* || 1/2 Tile Left/Right Styling */

.img-overlay a button.btn-responsive {
	padding: 4px 10px;
	font-size: 18px;
	line-height: 1.2;
	border-radius: 6px;
	margin: 10px;
}

/* Section Parent Wrapper */
.section {
	max-width: var(--max-width-desktop);
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
}

	/* || -> */
	.section h1.section-header {
		font-size: 115px;
	    font-weight: 800;
	    letter-spacing: -0.02em;
	    text-align: center;
	    z-index: 10;
	    position: relative;
	    line-height: 0.1;
	    margin-left: 0;
	}

	/* || -> */
    .section div.contact-info {
		color: #000;
	    display: flex;
	    align-items: center;
	    flex-direction: column-reverse;
	}

		/* || -> */
	    div.contact-info .image-column {
	    	margin-top: -2vh;
	    }

		/* || -> */
		div.contact-info .text-column {
			flex: 50%;
			padding: 10px 20px 70px 20px; /* top: 10px, right: 20px, bottom: 70px, left: 20px */
			position: relative;
		}

			/* || -> */
			.contact-info .text-column h1 {
				text-align: center;
				margin-bottom: 20px;
			}

			/* || -> */
			.text-column div.contact-button-container {
				text-align: center;
			}

/* || Footer Section Styling */

	/* || -> */
	.footer-container {
		width: 70%;
		margin: 0 auto;
		text-align: center;
		padding: 40px 0;
	}

		/* || -> */
		.footer-container .footer-copyright {
			margin-bottom: 24px;
		}


		/* || -> */
		/* || .footer-contact  */

			/* || -> */
			.footer-contact a {
				color: #fe303b; /* bright red */
				text-transform: uppercase;
				font-weight: bold;
				font-size: 16px;
			}

		/* || -> */
		.footer-container .footer-devtag {
			font-size: 10px;
			line-height: 1.5;
			margin-bottom: 0;
			color: gray;
			font-weight: 200;
		}


/* --> || locations.html Styling <-- */

/* || -> .nav-container */
.location-nav-container-flex {
	padding-bottom: 10px;
	margin: 10px auto 10px auto; /* top: 10px, right: auto, bottom: 10px, left: auto */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

	/* || -> */
	.dropdown-clickable .dropbtn-clickable {
		background-color: #fff;
		color: black;
		border: none;
		cursor: pointer;
		font-size: 18px;
		font-weight: 600;
	}

	/* || -> */
	.dropdown-clickable a {
		color: var(--primary-text-color);
		padding: 12px 14px;
		text-decoration: none;
		display: block;
		font-size: 16px;
		font-weight: 600;
	}

	/* || -> .location-menu-buttons */
	.location-menu-nav-tile {
		grid-column: 1 / span 2;
		margin-left: 10px;
		margin-right: 20px;
	}

			/* || -> */
			.location-menu-options .location-menu-inline-buttons {
			    display: inline-flex;
			    align-items: center;
			    justify-content: center;
			    background-color: var(--primary-background-color);
			    color: #fff;
			    height: 1.5em;
			    padding-left: 0.5em;
			    padding-right: 0.5em;
			    border-radius: 4px;
			    font-size: 12px;
			    font-weight: 600;
			    margin: 0 0 0 8px;
			}

/* || Menu Hero Section Styling */
	.menu-section-header {
	    font-size: 78px;
	    font-weight: 800;
	    letter-spacing: -0.02em;
	    text-align: center; 
	    z-index: 10;
	    position: relative;
	    line-height: 0.5em;
	    margin-left: 0;
	}

/* || Menu Items Layout */

	/* || Mini */
	.mini-menu-tile {
		grid-column: 1;
	}

	/* || Mini Description */
	.menu-mini-description-tile {
		grid-column: 2;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu-epic-description-tile {
		grid-column: 1;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 10px;
	}

	.menu-epic-tile {
		grid-column: 2;
	}

	.korean-menu-tile {
		grid-column: 1;
	}

	.menu-korean-description-tile {
		grid-column: 2;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 0;
	}

	.menu-cheese-pop-description-tile {
		grid-column: 1;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 10px;
	}

	.menu-cheese-pop-tile {
		grid-column: 2;
	}

	.honey-dog-gif-tile {
	  	grid-column: 1 / span 2;
	}

	.also-serving-tile {
	  	grid-column: 1 / span 2;
	  	border-bottom: 1px solid #eee;
	}

/* || Menu Item Styling */
.menu-item-section-header {
	font-size: 35px;
  	font-weight: 800;
  	letter-spacing: -0.02em;
  	line-height: 1;
  	text-align: center;
}

/* || --> */
div.menu-item-section-description-container {
	padding-top: 10px;
	max-width: 350px;
	margin-left: auto;
	margin-right: 10px;
	text-align: left;
}

	/* || --> */
	.menu-item-section-description-container li {
		list-style: none;
		font-size: 15px;
		font-weight: 600;
	}

/* || --> */
.menu-item-section-header-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: black;
	font-size: 50px;
	border-radius: 6px;
	font-weight: 800;
	height: 1.5em;
	margin-top: 10px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-transform: uppercase;
	mix-blend-mode: screen;
	}

/* || Calendar */

.calendar-title-flex  {
	flex-wrap: wrap;
	justify-content: space-around;
}

.calendar-title-flex h1 {
	font-size: 25px;
	margin-bottom: 20px;
}

div.fc-scroller {
	height: 320px !important;
}



}


















































